version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "Etc/UTC"
    open-pull-requests-limit: 10
    target-branch: "main"
    labels:
      - "dependencies"
      - "security"
      - "pull_request"
      - "pull_request_target"
    ignore:
      - dependency-name: "react"
        versions: ["17.x", "18.x"]
    commit-message:
      prefix: "⬆️ deps"
    versioning-strategy: auto

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "ci"
      - "dependencies"
      - "pull_request"
      - "pull_request_target"
