name: Dependabot
on:
  pull_request:
    branches: [main]
  pull_request_target:
    branches: [main]

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: |
      (github.actor == 'dependabot[bot]') &&
      (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')
    steps:
      - name: Dependabot metadata
        uses: dependabot/fetch-metadata@v2.4.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"  # Automatically provided
